<div class="row">
    <div class="col-md-3">
        开始时间:
    </div>
    <div class="col-md-9">
        <input type="date" class="iMethod-start">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        结束时间:
    </div>
    <div class="col-md-9">
        <input type="date" class="iMethod-end">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        服务状态:
    </div>
    <div class="col-md-9">
        <div class="iMethod-serviceType">

        </div>
    </div>
</div>