<div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="search"/>
            <i class="search">

            </i>
        </div>
    </div>
    <div class="row">
        <div class="iMethod" id="userTable">

        </div>
    </div>
</div>
