<div class="row">
    <div class="col-md-3">
        课程名称:
    </div>
    <div class="col-md-9">
        <input type="text" class="iMethod-name">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        课程类型:
    </div>
    <div class="col-md-9">
        <div class="iMethod-courseType">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        服务性质:
    </div>
    <div class="col-md-9">
        <div class="iMethod-serviceType">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        服务截止:
    </div>
    <div class="col-md-9">
        <input type="text" class="iMethod-serviceTime">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        课程单价:
    </div>
    <div class="col-md-9">
        <input type="text" class="iMethod-courseMoney">
    </div>
</div>
<div class="roe">
    <div class="col-md-3">
        视频时长:
    </div>
    <div class="col-md-9">
        <input type="text" class="iMethod-videoTime">
    </div>
</div>
<div class="roe">
    <div class="col-md-3">
        课程学分:
    </div>
    <div class="col-md-9">
        <input type="text" class="iMethod-courseScore">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        课程单价:
    </div>
    <div class="col-md-9">
        <div class="row">
            <input type="text" class="iMethod-chapterMoney">元/课
            X
            <input type="text" class="iMethod-chapterNum">课
            =
            <input type="text" class="iMethod-chapterAll">
        </div>
        <div class="row">
            <input type="text" class="iMethod-peopleMoney">元/人
            X
            <input type="text" class="iMethod-peopleNum">人
            =
            <input type="text" class="iMethod-peopleAll">
        </div>
    </div>
</div>
