<form onsubmit="return false">
    <div class="row">
        <div class="col-md-3">
            课程名称:
        </div>
        <div class="col-md-9">
            <input type="text" class="iMethod-name" required="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            课程类型:
        </div>
        <div class="col-md-9">
            <div class="iMethod-courseType">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            服务性质:
        </div>
        <div class="col-md-9">
            <div class="iMethod-serviceType">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            服务截止:
        </div>
        <div class="col-md-9">
            <input type="datetime-local" class="iMethod-serviceTime" required="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            课程单价:
        </div>
        <div class="col-md-9">
            <input type="datetime-local" class="iMethod-courseMoney" required="">
        </div>
    </div>
    <div class="roe">
        <div class="col-md-3">
            视频时长:
        </div>
        <div class="col-md-9">
            <input type="number" class="iMethod-videoTime" required="">
        </div>
    </div>
    <div class="roe">
        <div class="col-md-3">
            课程学分:
        </div>
        <div class="col-md-9">
            <input type="number" class="iMethod-courseScore" required="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            课程单价:
        </div>
        <div class="col-md-9">
            <div class="row">
                <input type="number" class="iMethod-chapterMoney" required="">元/课
                X
                <input type="number" class="iMethod-chapterNum" required="">课
                =
                <input type="number" class="iMethod-chapterAll" required="">
            </div>
            <div class="row">
                <input type="number" class="iMethod-peopleMoney" required="">元/人
                X
                <input type="number" class="iMethod-peopleNum" required="">人
                =
                <input type="number" class="iMethod-peopleAll" required="">
            </div>
        </div>
    </div>
</form>
