<div class="info-warp">
    <div class="">
        <div class="row">
            <div class="col-md-2">
                租户全称:
            </div>
            <div class="col-md-10">
                <input type="text" class="input"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                学校二级域名：
            </div>
            <div class="col-md-10">
                <input type="text" class="input" name="shortName"/>.gaoxiaobang.com
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                租户类型：
            </div>
            <div class="col-md-10">
                <div class="serviceType">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                机构类型：
            </div>
            <div class="col-md-10">
                <div class="orgType">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                院系办：
            </div>
            <div class="col-md-10">
                <input type="text" class="input" name=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                所在地：
            </div>
            <div class="col-md-10">
                <div class="">

                </div>
                省
                <div class=""></div>
                市
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                院校类别：
            </div>
            <div class="col-md-10">
                <div class="schoolType">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                院校联系人：
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" name="teaName"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        手机:
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="teaMobile"/>
                    </div>
                    <div class="col-md-2">
                        QQ:
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="teaQQ"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        电话:
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="teaTell"/>
                    </div>
                    <div class="col-md-2">
                        邮件:
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="teaEmail"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>

        <div class="row">
            <div class="col-md-2">
                销售归属：
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" name="sellName"/>
                    </div>
                    <div class="col-md-2">
                        <i class="iMethod-btn select-sell" >
                            选择
                        </i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        所属分公司:<input type="text" name="sellOrg"/>
                    </div>
                    <div class="col-md-5">
                        所属区域:<input type="text" name="sellPlace"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                开课所属：
            </div>
            <div class="col-md-4">
                <input type="text" name="manageName"/>
            </div>
            <div class="col-md-2">
                <i class="iMethod-btn">
                    选择
                </i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                学习报告：
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="manageBoss"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <i class="iMethod-check">

                        </i>
                        开通
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                交付日期：
            </div>
            <div class="col-md-10">
                <input type="text" name="tenantTime"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                视频本地部署：
            </div>
            <div class="col-md-10">
                <div class="row">
                    <input type="text" name="tenantTime"/>
                    <i class="iMethod-btn">
                        选择
                    </i>
                </div>
                <div class="row">
                    <i class="iMethod-check">

                    </i>
                    部署
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <i class="iMethod-btn">
                    保存确认
                </i>
                <i class="iMethod-btn">
                    取消
                </i>
            </div>
        </div>
    </div>
</div>
