<div class="list-group-item">
    新建租户
</div>
<div class="list-group-item">
    <div class="row">
        <div class="col-md-2">
            机构
        </div>
        <div class="col-md-4">
            <input type="text" class="input iMethod-schoolOrg" readonly required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            租户名称
        </div>
        <div class="col-md-4">
            <input type="text" class="input iMethod-tenantName" name="tenantName" required/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            学校二级域名：
        </div>
        <div class="col-md-6">
            <input type="text" class="input iMethod-shortName" name="shortName" required/>.gaoxiaobang.com
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            租户类型：
        </div>
        <div class="col-md-4">
            <div class="iMethod-serviceType">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 iMethod-schoolUser">
            添加机构联系人:
        </div>
        <div class="col-md-10 school-user-warp">

        </div>
    </div>
</div>
<div class="list-group-item">

    <div class="row">
        <div class="col-md-2">
            销售所属:
        </div>
        <div class="col-md-4">
            <input type="text" class="input iMethod-sellOrg" readonly/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 iMethod-sellUser">
            添加销售：
        </div>
        <div class="col-md-10 sell-user-warp">

        </div>
    </div>
</div>
<div class="list-group-item">
    <div class="row">
        <div class="col-md-2">
            开课所属：
        </div>
        <div class="col-md-4">
            <input type="text" class="iMethod-managerOrg" readonly/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 iMethod-managerUser">
            添加管理员：
        </div>
        <div class="col-md-10 manager-user-warp">

        </div>
    </div>
</div>
<div class="list-group-item">
    <div class="row">
        <div class="col-md-2">
            学习报告：
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="iMethod-managerSell" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <i class="iMethod-check score-service">

                    </i>
                    开通
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-group-item">
    <div class="row">
        <div class="col-md-2">
            视频本地部署：
        </div>
        <div class="col-md-10">
            <div class="row">
                <input type="text" class="iMethod-service" readonly/>
            </div>
            <div class="row">
                <i class="iMethod-check resource-service">

                </i>
                部署
            </div>
        </div>
    </div>
</div>
<div class="list-group-item">
    <div class="row">
        <div class="col-md-2">
            交付日期：
        </div>
        <div class="col-md-4">
            <input type="date" name="tenantTime" class="tenantTime" required/>
        </div>
        <div class="col-md-2">
            当前交付状态：
        </div>
        <div class="col-md-4">
            <div class="iMethod-currentStatus"></div>
        </div>
    </div>
</div>
<div class="list-group-item">
    <div class="row">
        <div class="col-md-12">
            <i class="iMethod-btn save-tenant">
                保存确认
            </i>
            <i class="iMethod-btn cancel-tenant">
                取消
            </i>
        </div>
    </div>
</div>

