<%
var org = org || {};
%>
<div>
    <form class="form-org">
        <div class="row">
            <div class="col-md-2">
                机构代码
            </div>
            <div class="col-md-4">
                <input type="text" name="orgCode" class="orgCode" value="<%= org['orgCode'] %>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                机构名称
            </div>
            <div class="col-md-4">
                <input type="text" name="orgName" class="orgName" value="<%= org['orgName'] %>" required/>
            </div>
            <div class="col-md-2">
                所属机构
            </div>
            <div class="col-md-4">
                <div class="iMethod-org"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                机构类型
            </div>
            <div class="col-md-4">
                <div class="iMethod-orgType"></div>
            </div>
            <div class="col-md-2">
                学校类型
            </div>
            <div class="col-md-4">
                <div class="iMethod-schoolType"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                省
            </div>
            <div class="col-md-4">
                <div class="iMethod-province"></div>
            </div>
            <div class="col-md-2">
                市
            </div>
            <div class="col-md-4">
                <div class="iMethod-city"></div>
            </div>
        </div>
    </form>
</div>