<div>
    <div class="row">
        <div class="col-md-8">
            <input type="text" name="search"/>
            <i class="search">
                查询
            </i>
        </div>
        <div class="col-md-4">
            <i class="btn iMethod-orgAdd">
                添加机构
            </i>
        </div>
    </div>
    <div class="row">
        <div class="iMethod-orgTable">

        </div>
    </div>
</div>
