<div class="row">
    <div class="col-md-3">
        班次名称:
    </div>
    <div class="col-md-9">
        <input type="text" class="className">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        开课时间:
    </div>
    <div class="col-md-9">
        <input type="text" class="iMethod-openTime">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        截课日期:
    </div>
    <div class="col-md-9">
        <input type="text" class="iMethod-endTime">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        模板课:
    </div>
    <div class="col-md-9">
        <i class="iMethod-radio template-class" data-template="1"></i>
        标准
        <i class="iMethod-radio template-class" data-template="0"></i>
        非标准
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        考核权重:
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-11">
                <i class="iMethod-radio score-class" data-score="1"></i>
                是
                <i class="iMethod-radio score-class" data-score="0"></i>
                否
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                视频
            </div>
            <div class="col-md-9">
                <input type="text" class="iMethod-video">%
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                讨论
            </div>
            <div class="col-md-9">
                <input type="text"  class="iMethod-topic">%
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                测验
            </div>
            <div class="col-md-9">
                <input type="text"  class="iMethod-quiz">%
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                作业
            </div>
            <div class="col-md-9">
                <input type="text" class="iMethod-task">%
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                考试
            </div>
            <div class="col-md-9">
                <input type="text" class="iMethod-exam">%
            </div>
        </div>
    </div>
</div>
