<%
var menuList = menuList || [];
var menuLength = menuList.length;
%>
<div class="nav-warp">
    <ul class="nav">
        <%
        for (var i = 0; i < menuLength; i++) {
            var menu = menuList[i] || {};
            var childMenu = menu['childMenu'] || [];
            log(childMenu);
            var cLength = childMenu.length;
        %>
        <li menu_id="<%= menu.menuId %>">
            <a href="javascript:void(0)"
               menu_id="<%= menu.menuId %>"
               content="<%= menu.content %>"
                    >
                <%= menu.menuName %>
                <% if(cLength > 0){ %>
                <span class="nav-toggle">&#9660</span>
                <% } %>
            </a>
            <% if(cLength > 0){ %>
            <% include('./nav',{
            menuList:childMenu
            }) %>
            <% } %>
        </li>
        <% } %>
    </ul>
</div>