<a href="#" class="imethod-btn green-btn w60h30">发帖</a>

<a href="#" class="imethod-btn green-btn w90h30">继续学习</a>

<a href="#" class="imethod-btn blue-btn w120h36">开始测验</a>

<div class="dropdown-wrapper open">
    <span>最新发布</span>
    <i class="triangle-btn"></i>
    <ul class="dropdown-menu">
        <li>最多回复</li>
        <li>老师发布</li>
    </ul>
</div>