<div class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <%== template('input', {
            className: "",
            placeholder: "按姓名查找",
            type: "text"
        }) %>
    </div>
    <%== template('btn.search', {}) %>
</div>