<%
list = list || [];
conf = conf || {};
maping = maping || [];
var l = list.length;
var ml = maping.length;
%>
<table class="table <%= splitJoin(className) %>">
    <thead>

    </thead>
    <tbody>

    </tbody>
</table>

