.iMethod-check {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #337ab7;
  background: #FFFFFF;
  &.check {
    background: #337ab7;
  }
}

.iMethod-radio {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #337ab7;
  background: #FFFFFF;
  border-radius: 5px;
  &.check {
    background: #337ab7;
  }
}

.iMethod-btn {
  color: #333;
  border-color: #ccc;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border-radius: 4px;
}

.iMethod-btn-pri {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.iMethod-btn-sm{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}